html .container {
  .buttonsContainer {
    justify-content: center;
    margin-top: var(--mantine-spacing-xl);

    .button {
      min-width: 35%;
    }
  }

  .signInButton {
    align-self: center;
  }
}
