html .inputLabel {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: var(--mantine-radius-xs);
  margin-block: var(--mantine-radius-xs);
  font-weight: 700;
}

html .error {
  margin-top:  var(--mantine-radius-md);
  margin-left:  var(--mantine-radius-xs);
  font-weight: 500;
}
