html .reservationItem {
  width: 100% ;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);
  background-color: var(--mantine-color-dark-8);
  border-radius: 0;
  border-left: solid 3px transparent;
  transition: 0.2s;

  &:hover {
    border-color: var(--mantine-color-primary-7);
    background-color: var(--mantine-color-dark-7);
  }

  .details {
    padding-top: var(--mantine-spacing-md);
    gap: var(--mantine-spacing-xs) var(--mantine-spacing-xl);
    margin-left: calc(var(--mantine-spacing-xs) * -1);

    .detail {
      gap: var(--mantine-spacing-xs);

      .icon {
        height: var(--mantine-font-size-lg);
        stroke: var(--mantine-color-primary-3);
        transition: 0.2s;
      }

      .value {
        font-size: var(--mantine-font-size-sm);
        font-weight: 600;
      }
    }
  }
}
