@import "src/_mantine.scss";

.title {
  font-size: calc_rem(34px);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: calc_rem(24px);
  }
}

.description {
  max-width: calc_rem(600px);
}

