html .userShortInfoContainer {
  justify-content: center;
  padding: var(--mantine-spacing-lg);
  background-color: var(--mantine-color-dark-8);
  border-radius: var(--mantine-radius-md);

  .userDataLabel {
    font-size: var(--mantine-font-size-xs);
    color: var(--mantine-color-dimmed);
  }

  .userDataValue {
    font-size: var(--mantine-font-size-sm);
    font-weight: 700;
    text-align: center;
  }
}
