@import "src/mantine";

html .calendar {
  max-height: 90dvh;

  .calendarHeader {
    padding-block: var(--mantine-spacing-md);
    gap: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
    justify-content: space-between;

    .calendarHeaderTitle {
      font-weight: 700;
      font-size: var(--mantine-spacing-xl);
    }

    .calendarHeaderDivider {
      border-width: 2px;

      @media (width < $mantine-breakpoint-sm) {
        display: none;
      }
    }
  }

  .scrollContainer {
    height: calc(100dvh - 250px);
    border-radius: var(--mantine-radius-md);
    overflow: hidden;

    @media (width < $mantine-breakpoint-sm) {
      height: calc(100dvh - 300px);
    }

    > *:first-child {
      padding: 0;
    }

    .table {
      .headerRow {
        background: var(--mantine-color-dark-9);
        box-shadow: var(--mantine-shadow-xl);

        td {
          padding: var(--mantine-spacing-lg) var(--mantine-spacing-md);
          text-align: center;

          .date {
            font-size: var(--mantine-font-size-sm);
            font-weight: 600;
          }

          .weekday {
            font-size: var(--mantine-font-size-xs);
            color: var(--mantine-color-secondary-2);
            text-transform: uppercase;
            font-weight: 800;
          }
        }
      }
    }
  }
}


