################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.idea

# Environment variables and secrets
**/.env

# Frontend-specific files and directories
**/node_modules
