################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.idea
/MyDatabase.db
/MyDatabase.db-shm
/MyDatabase.db-wal
