html .row {
  background: var(--mantine-color-dark-6);

  &:hover {
    background: var(--mantine-color-dark-5);
  }

  td {
    padding-block: var(--mantine-spacing-md);
    text-align: center;

    &.hourCell {
      z-index: 10;
      left: 0;
      top: 80px;
      position: sticky;

      background: var(--mantine-color-dark-8);
      width: 40px;
      height: 100px;

      &:after {
        top: 0;
        right: -1px;
        left: 0;
        bottom: 0;
        border-right: 2px solid var(--mantine-color-dark-5);
        content: "";
        position: absolute;
      }

      .hour {
        padding-inline: var(--mantine-spacing-sm);
        font-size: var(--mantine-font-size-sm);
        white-space: nowrap;
        font-weight: 700;
      }
    }
  }
}
