html .container {
  max-width: 600px;
  min-height: 80vh;
  margin: auto;
  justify-content: center;

  .grid {
    margin-inline: auto;
    background-color: var(--mantine-color-dark-8);
    border-radius: var(--mantine-radius-md);
    box-shadow: var(--mantine-shadow-xl);
    overflow: hidden;

    .qrWrapper {
      padding: var(--mantine-spacing-md) var(--mantine-spacing-xl);
      padding-bottom: var(--mantine-spacing-lg);
      align-items: center;
      position: relative;

      .validCheck {
        position: absolute;
        background-color: var(--mantine-color-dark-7);
        padding: var(--mantine-spacing-xs);
        border-radius: 100%;
        bottom: 0;
        animation: grow 2s infinite alternate;

        .validCheckIcon {
          stroke-width: 3px;
          stroke: var(--mantine-color-success-7);
          fill: var(--mantine-color-success-7);
        }
      }
    }
  }

  @keyframes grow {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.25);
    }
  }
}
