/.vs
/GymBeam/.vs/ProjectEvaluation
/GymBeam/.vs/GymBeam
/GymBeam/bin/Debug/net7.0
/GymBeam/bin/Release/net7.0
/GymBeam/obj
/Domain/bin/Debug/net7.0
/Domain/bin/Release/net7.0
/Infrastructure/bin/Debug/net7.0
/Infrastructure/bin/Release/net7.0
/GymBeam.Tests/bin/Debug/net7.0
/GymBeam.Tests/obj
/Domain/obj
/Infrastructure/obj