@import "src/mantine";

html .title {
  margin-bottom: var(--mantine-spacing-md);
}

html .section {
  background-color: var(--mantine-color-dark-6);
  padding-block: var(--mantine-spacing-md);
  padding-inline: var(--mantine-spacing-md) calc(var(--mantine-spacing-xl) * 2);

  border-radius: 0 var(--mantine-radius-md) var(--mantine-radius-md) 0;
  border-left: 2px solid var(--mantine-color-success-9);
  font-weight: 700;

  .sectionTitle {
    font-weight: 700;
    margin-top: var(--mantine-spacing-sm);
    margin-bottom: var(--mantine-spacing-md);
  }

  .subList {
    font-weight: 400;
    --list-fz:  var(--mantine-font-size-sm);

    .listItem {
      font-size: var(--mantine-font-size-sm);
      margin-bottom: var(--mantine-spacing-sm);
    }
  }
}

html .list {
  margin-bottom: var(--mantine-spacing-lg);
  grid-gap: var(--mantine-spacing-lg);
  display: grid;

  @media (min-width: $mantine-breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}
