html .container {
  .title {
    text-align: center;
    padding-bottom: var(--mantine-spacing-lg);
    color: var(--mantine-color-primary-6);
  }

  .item {
    transition: transform 150ms ease;
    position: relative;
    z-index: 0;

    &[data-active] {
      z-index: 1;
      transform: scale(1.02);
      border-radius: var(--mantine-radius-md);
      overflow: hidden;
    }
  }
}
