html .calendarItem {
  padding: var(--mantine-spacing-sm);
  background-color: var(--mantine-color-dark-8);

  &.disabled {
    background-color: var(--mantine-color-dark-9);
    opacity: 0.5;
  }

  .name {
    font-weight: 700;
    font-size: var(--mantine-font-size-lg);
    cursor: pointer;

    &:hover {
      color: var(--mantine-color-secondary-3);
    }
  }

  .leader {
    font-size: var(--mantine-font-size-xs);
  }

  .duration {
    white-space: nowrap;
    font-weight: 700;
  }
}


