html .container {
  padding: var(--mantine-spacing-md);
  background-color: var(--mantine-color-dark-9);
  border-top: 3px solid var(--mantine-color-dark-6);
  align-items: center;

  .label {
    font-weight: 700;
    text-align: center;
    font-size: var(--mantine-font-size-xs);
  }

  .ownerName {
    font-size: var(--mantine-font-size-sm);
  }
}
