.dropdown {
  gap: var(--mantine-spacing-md);
  padding-block: var(--mantine-spacing-xs);

  .title {
    color: var(--mantine-color-dimmed);
    font-size: var(--mantine-font-size-xs);
    font-weight: 600;
  }
}
