html .container {
  .buttonsContainer {
    justify-content: center;
    margin-top: var(--mantine-spacing-xl);

    .button {
      min-width: 35%;
    }
  }

  .signInLink {
    text-align: center;
    color: var(--mantine-color-info-7);
  }
}
