html .container {
  padding: var(--mantine-spacing-xl);
  background: var(--mantine-color-dark-8);
  border-radius: var(--mantine-radius-md);

  .caption {
    font-size: var(--mantine-font-size-sm);
  }

  .buttonsContainer {
    justify-content: flex-end;
    margin-top: var(--mantine-spacing-md);
  }
}
