.container {
  padding: var(--mantine-spacing-md);

  .title {
    z-index: 1000;
    top: calc(var(--mantine-spacing-md) + var(--mantine-font-size-md));
    font-size: var(--mantine-font-size-md);
    position: absolute;
    font-weight: 700;
  }

  .caption {
    font-size: var(--mantine-font-size-sm);
    margin-bottom: var(--mantine-spacing-lg);
    text-align: justify;
  }

  .buttonsContainer {
    margin-top: var(--mantine-spacing-lg);
    align-self: flex-end;
  }
}
