@import "src/mantine";

html .calendar {
  height: calc(100vh - 100px);

  .calendarHeader {
    padding-block: var(--mantine-spacing-md);
    gap: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
    justify-content: space-between;

    .calendarHeaderTitle {
      font-weight: 700;
      font-size: var(--mantine-spacing-xl);
    }

    .calendarHeaderDivider {
      border-width: 2px;

      @media (width < $mantine-breakpoint-sm) {
        display: none;
      }
    }
  }

  .scrollContainer {
    border-radius: var(--mantine-radius-md);
    overflow: hidden;

    > *:first-child {
      padding: 0;
    }

    .table {
      .headerRow {
        background: var(--mantine-color-dark-9);
        box-shadow: var(--mantine-shadow-xl);

        td {
          padding: var(--mantine-spacing-lg) var(--mantine-spacing-md);
          text-align: center;
          height: 80px;

          &.dateRangeSwitch {
            left: 0;
            position: sticky;
            z-index: 10;
            background: var(--mantine-color-dark-9);

            &:before {
              top: 0;
              right: -1px;
              left: 0;
              bottom: 0;
              border-right: 2px solid var(--mantine-color-dark-5);
              content: "";
              position: absolute;
            }

            > div {
              justify-content: center;
            }
          }

          .date {
            font-size: var(--mantine-font-size-sm);
            font-weight: 600;
          }

          .weekday {
            font-size: var(--mantine-font-size-xs);
            color: var(--mantine-color-secondary-2);
            text-transform: uppercase;
            font-weight: 800;
          }
        }
      }
    }
  }
}


