html .container {
  margin-bottom: var(--mantine-spacing-xl);
  gap: var(--mantine-spacing-xs);

  .reservationsGroup {
    max-height: 30vh;
    overflow-y: auto;
  }

  .emptyMessage {
    color: var(--mantine-color-dimmed);
    margin-top: var(--mantine-spacing-md);

    &, a {
      font-size: var(--mantine-font-size-sm);
      text-align: center;
    }
  }
}
