.deleteModalTitle {
  color: var(--mantine-color-danger-7);
  font-weight: 700;
}

.roleModalTitle, .reservationsModalTitle {
  color: var(--mantine-color-info-7);
  font-weight: 700;
}

.modalCaption {
  font-size: var(--mantine-font-size-sm);
}
