html .reservationItem {
  width: 100% ;
  padding: var(--mantine-spacing-lg);
  background-color: var(--mantine-color-dark-8);
  border-radius: 0;
  border-left: solid 3px transparent;
  transition: 0.2s;

  &:hover {
    border-color: var(--mantine-color-primary-7);
    background-color: var(--mantine-color-dark-7);
  }

  .resignButton {
    margin-left: auto;
  }

  .header {
    padding-bottom: var(--mantine-spacing-md);

    .name {
      font-weight: 700;
      font-size: var(--mantine-font-size-xl);
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        color: var(--mantine-color-secondary-3);
      }
    }
  }

  .details {
    gap: var(--mantine-spacing-xs) var(--mantine-spacing-xl);

    .detail {
      gap: var(--mantine-spacing-xs);

      .icon {
        height: var(--mantine-font-size-lg);
        stroke: var(--mantine-color-primary-3);
        transition: 0.2s;
      }

      .value {
        font-size: var(--mantine-font-size-sm);
        font-weight: 600;
      }
    }
  }
}
