html .timestamp {
  .time {
    font-size: var(--mantine-font-size-xl);
    font-weight: 700;
  }

  .date {
    font-size: var(--mantine-font-size-xl);
    font-weight: 700;
    color: var(--mantine-color-dimmed);
  }
}
