html .container {
  .tabs {
    margin-bottom: var(--mantine-spacing-md);

    .tab {
      font-size: var(--mantine-font-size-sm);
      padding-inline: var(--mantine-spacing-lg);
      font-weight: 600;

      .tabIcon {
        width: 20px;
        color: var(--mantine-color-primary-3);
      }
    }
  }
}
