html .sideNavigationContainer {
  align-items: center;
  justify-content: space-between;
  min-height: 95vh;

  .sectionWrapper {
    gap: 0;

    .logoWrapper {
      padding-top: var(--mantine-spacing-md);
    }

    .languageSelect {
      margin-top: var(--mantine-spacing-md);
    }
  }
}
