html .sideNavigationContainer {
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-block: var(--mantine-spacing-lg);
  background-color: var(--mantine-color-dark-8);

  .sectionWrapper {
    gap: 0;

    .logoWrapper {
      padding-top: var(--mantine-spacing-md);
    }

    .languageSelect {
      margin-top: var(--mantine-spacing-md);
      background-color: var(--mantine-color-dark-9);
    }
  }
}
